.searchBox {
  position: absolute;
  right:30px;
  top:5px;
}

.serachInput {
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 6px;
  margin-top: 6px;
}

.serachBtn {
  height: 27px;
  width:53px;
  border:none;
  border-radius: 5px;
  background-color: #108ee9;
  color:#fff;
  outline: none;
  margin-left:10px;
}