.AfterReadlist {
  list-style: none;
  margin-top: 30px;
}

.AfterReadLi {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.AfterReadLi:after {
  content: '';
  position: absolute;
  top: 16px;
  border-bottom: 1px solid #666;
  width: 200%;
  height: 200%;
  transform-origin: 0 0;
  transform: scale(0.5, 0.5);
  box-sizing: border-box;
}

/* .AfterReadLi div {
  width: 100%;
  border: 1px solid #666; 
} */

.AfterReadLi p {
  margin-bottom: 20px;
}